# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.so

# IDEs
.vscode/
.idea/
.codebuddy/
*.swp
*.swo

# Project Temporary Files
*.pb
*.pbtxt
*.log
run_*/
outputs/
timeline*.json
debug_graphs/
.DS_Store

